fastapi
uvicorn[standard]
sqlalchemy[asyncio]>=2.0.0
asyncpg
aioredis
python-jose[cryptography]
passlib
argon2-cffi
python-multipart
requests
beautifulsoup4
colorgram.py
Pillow
pydantic-settings
httpx>=0.28.1
google-api-python-client
google-auth
python-dotenv
user-agents
apscheduler
redis

