fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
aioredis
python-jose[cryptography]
passlib
argon2-cffi
python-multipart
requests
beautifulsoup4
colorgram.py
Pillow
pydantic-settings
httpx
google-api-python-client
google-auth
python-dotenv
user-agents
apscheduler

